.magenta-dot {

  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 32px; height: 32px; background-color: #FF3859;
    border-radius: 16px;
    left: calc(50% - 16px);
    top: -16px;
  }

}
